<h1>All Posts</h1>

<table class ="pretty">
  <tr>
    <th><h2><%= sortable "title" %></h2></th>
    <th><h2><%= sortable "updated_at", "Date" %></h2></th>
    <th><h2><%= sortable "user_id", "Name" %></h2></th>
  </tr>

  <% @posts.each do |post| %>
<tr>
    
    <td><%= link_to post.title, user_post_path(User.find_by_id(post.user_id), post) %>&nbsp&nbsp&nbsp&nbsp</td>
    <td>&nbsp&nbsp&nbsp&nbsp<%= last_updated post %>&nbsp&nbsp&nbsp&nbsp</td>
     <% if post.user.name != nil %>
    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= post.user.name %>&nbsp&nbsp&nbsp&nbsp</td>
    <% else %>
      <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= post.user.email %></td>
    <% end %>
    
</tr>
<% end %>
</table>