   <h1>Welcome, <%if current_user.name != nil %><%=current_user.name%><%else%><%=current_user.email%><%end%>!</h1>
   <ul>
     <li><h4><%= link_to "View Your Posts", user_posts_path(@user.id) %></h4></li>
     <li><h4><%= link_to "New Post", new_post_path(@path) %></h4></li>
     <li><h4><%= link_to "View Categories", categories_path %>  </h4></li>
     <li><h4><%= link_to "View All Posts", all_index_path %>
     <li><h4><%= link_to("Edit Account", edit_user_registration_path) %></h4></li>
    </ul>
<% if current_user.admin? %>
<ul>
 <li> <h4><%= link_to "Create Category", new_category_path %><br></h4></li>
</ul>
<% end %>
