<h1>Create New Blog Post</h1>

<%= form_for @post do |f| %>
  <%= f.label "Title:" %><br >
  <%= f.text_field :title, :required => true %><br>

  <br><%= f.label "Write content below:" %><br>
  <%= f.text_area :content, :required => true, :cols => "50", :rows => "10" %> <br>

  <br><%= f.label "Category:" %><br>
  <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name) %> <br>
  
  <!-- to create a new category -->

  <br><%= f.submit %>

<% end %>

<!-- Nested forms write to two models or more -->
<!-- Nested resources create one model associated with another parent -->