<h1><%=@post.title%></h1>

<h3><%= @post.title %> </h3>
<p><em><%= last_updated @post %></em></p>
<p> <%= @post.content %> </p>
<%= link_to "Edit", edit_post_path(@post.id) %>
<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %><br>

<br><h3>Comments:</h3><% @post.comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>


<h3>Add a Comment</h3>
 
 <%= form_for @post.comments.build do |f| %>
   <%= f.label "Comment:" %><br><br>
   <%= f.text_area :content %><br><br>
   <%= f.label "UserName:" %><br><br>
   <%= f.collection_select :user_id, User.all, :id, :name, include_blank: "Please Choose a User Name" %><br><br>
   <%= f.hidden_field :post_id %>
   <%= f.label "Create A User Name:" %><br><br>
   <%= f.fields_for :user, @post.comments.last.build_user do |u| %>
     <%= u.text_field :name %><br>
   <% end %><br>
   <%= f.submit %>
 <% end %>




